@import "../../variables.scss";

.quantity-row-wrapper {
  .quantity-row-header-wrapper {
    display: flex;
    font-size: 20px;
    color: $primary-text-gray;
    justify-content: space-between;

    .quantity-row-header {
      display: flex;
    }

    .quantity-row-header > p {
      &:first-child {
        width: 30px;
      }
    }
  }

  .btn-quantity {
    background-color: white;
    border: 2px solid $primary-pink-background;
    border-radius: 16px;
    color: $primary-pink-background;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    margin-left: 10px;
    width: 40px;
  }

  .btn-quantity-active {
    background-color: $primary-pink-background;
    border: 2px solid lightgray;
    color: white;
    outline: none;
  }

  .quantity-row-description {
    color: $primary-description;
    font-size: 12px;
    margin-left: 30px;
  }
}
