@import "../../variables.scss";

input [type="checkbox"] {
  .option-row-wrapper {
    color: white;
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    background-color: $primary-pink-background;
    border: 2px solid #fabdcc;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    width: 25px;
  }
}
