@import "../../../variables.scss";

input [type="checkbox"] {
  .check-mark-icon-wrapper {
    color: white;

    .circle-check {
      background-color: $primary-pink-background;
      border: 2px solid #fabdcc;
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      width: 25px;
    }

    .unchecked {
      background-color: white;
    }

    .square-check {
      border: 2px solid #fabdcc;
      height: 25px;
      width: 25px;
      background-color: $primary-pink-background;
      display: inline-block;
    }
  }
}
